.table{
    background-color: #f8f9fa;
    padding: 100px 0;
}
.table-full{
    padding-right: 10%;
}
.stretched{
    background-color: #f8f9fa;

}
.carousel-caption{
    margin-bottom: 300px;
}